@model MVC.Models.ApplicationUser

@{
    ViewData["Title"] = "User Details";
}

<h1>User Details</h1>

<div>
    <label>Name:</label> @Model.Name
</div>
<div>
    <label>Email:</label> @Model.Email
</div>
<div>
    <label>Role(s):</label>
    @if (ViewData["Roles"] != null)
    {
        var roles = (IEnumerable<string>)ViewData["Roles"];
        foreach (var role in roles)
        {
            <span>@role</span>

            <br />
        }
    }
</div>
<div>
    <label>Created At:</label> @Model.CreatedAt.ToString("yyyy-MM-dd")
</div>

<a href="@Url.Action("Index")" class="btn btn-secondary">Back to List</a>
